<h1>Update Listing</h1>

<form [formGroup]="listingFormUpdate" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"
           id="title"
           formControlName="title"
           class="form-control"
           placeholder="Enter a catchy title here"
           title="Your title will be displayed along with the picture and serves as a first impression."
           required />
  </div>


  <div class="form-group">
    <label for="description">Description</label>
    <textarea for="description"
              class="form-control"
              id="description"
              formControlName="description"
              placeholder="Describe your apartment"
              title="The description provides potential renters with more details about your apartment."
              rows="6"
              cols="7"
              style="margin-bottom: 5%;">
    </textarea>
  </div>


  <div class="form-group">
    <label for="street">Street</label>
    <input for="street"
           type="text"
           class="form-control"
           placeholder="e.g., Pilestredet 35"
           id="street"
           formControlName="street"
           required>

  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input for="city"
           type="text"
           class="form-control"
           formControlName="city"
           id="city"
           placeholder="e.g., Oslo"
           required>

  </div>

  <div class="form-group">
    <label for="country">Country</label>
    <input for="country"
           type="text"
           class="form-control"
           formControlName="country"
           placeholder="e.g., Norway"
           id="country"
           required>

  </div>

  <div class="form-group">
    <label for="zipCode">Zip Code</label>
    <input for="zipCode"
           type="text"
           class="form-control"
           formControlName="zipCode"
           placeholder="e.g., 0176 "
           id="zipCode"
           required>

  </div>

  <div class="form-group">
    <label for="state">State (Optional)</label>
    <input for="state"
           type="text"
           class="form-control"
           formControlName="state"
           data-optional="true"
           id="state"
           style="margin-bottom: 5%;">
  </div>


  <div class="form-group">
    <label for="bedroom">How many bedrooms</label>
    <input for="bedroom"
           type="number"
           class="form-control"
           formControlName="bedroom"
           id="bedroom"
           required>
  </div>

  <div class="form-group">
    <label for="beds">How many beds</label>
    <input for="beds"
           type="number"
           class="form-control"
           formControlName="beds"
           id="beds"
           required>
  </div>

  <div class="form-group">
    <label for="bathroom">How many bathrooms</label>
    <input for="bathroom"
           type="number"
           class="form-control"
           formControlName="bathroom"
           id="bathroom"
           style="margin-bottom: 5%;"
           required>
  </div>

  <div class="form-group">
    <label for="pricePerNight">Enter the price per night</label>
    <input for="pricePerNight"
           class="form-control"
           formControlName="pricePerNight"
           type="number"
           placeholder="Enter price per night"
           title="It might be a good idea to check what other renters are charging for similar properties."
           id="pricePerNight" style="margin-bottom: 5%;"
           required>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="listingFormUpdate.invalid">
    Update Listing
  </button>

  <button class="btn btn-secondary" (click)="backToHostingDashboard()">Cancel</button>

</form>
