
<body>
  <div class="container shadow p-3 mb-5 bg-white rounded mt-5">
    <h1 class="my-4">{{ listing?.title }}</h1>
    <h2>{{ listing?.city }}, {{ listing?.street }}, {{ listing?.country }}</h2>

    <!-- Image grid -->
    <div class="image-grid">
      <img class="image-grid-col-2 image-grid-row-2" [src]="listing?.image1 || 'https://via.placeholder.com/150'" alt="">
      <img class="img-fluid" [src]="listing?.image2 || 'https://via.placeholder.com/150'" alt="">
      <img class="img-fluid" [src]="listing?.image3 || 'https://via.placeholder.com/150'" alt="">
    </div>

    <!-- Description -->
    <div class="row">
      <h2 class="col-sm">Beehive description</h2>
      <p>{{ listing?.description }}</p>
    </div>

    <!--tags to give it some margin-->
    <br />
    <hr />
    <br />


    <!--tags to give it some margin-->

    <h2>Book your trip</h2>


    <form (ngSubmit)="createNewBooking">
      <p id="pricePerNight">{{ listing?.pricePerNight }} NOK per night</p>

      <div class="availability">
        <p>Date from</p>
        <input type="date" [(ngModel)]="startDate" name="startDate" (change)="calculateTotalPrice()" />
        <p>Date to</p>
        <input type="date" [(ngModel)]="endDate" name="endTime" (change)="calculateTotalPrice()" />
      </div>

      <p>Total price <span id="totalPrice">{{ totalPrice }} NOK</span></p>
      <button type="submit" class="btn btn-primary">Book now</button>
    </form>
  </div>
</body>
